body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpaperaccess.com/full/192243.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img_shoes {
  position: relative;
  top:20px;
  left:20px;
}
.title_word {
  position: absolute;
  /* padding-bottom: 450px; */
  top: 0px;
  left: 10px;
}
.text_word {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
